header{
    background-color: aqua;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav #logo p{
    /* font-size: 2rem; */
    color:white;

}
nav #navbar{
    background-color: red;
}
nav #navbar ul{
    display: flex;
}
nav #navbar ul li{
    list-style: none;
}

